.navbar{
    background-color: rgb(14, 9, 9) !important;
   
}

 .svg{
    /* padding-left: 90%; */
    margin-top: 6%;
    margin-right: -177%;
    text-decoration: none;
    color: white;
}

.pageBut:focus{
background-color: red;
}